<h3 style="text-align: center;">
    {{viewTitle}}
</h3>

<form action="/api/employees/create" method="POST" autocomplete="off" style="align-items: center;">
    <div class="form-group">
        <label>First Name (*)</label>
        <input type="text" class="form-control" name="firstName" id="firstName" placeholder="First Name" value="{{employee.firstName}}">
    </div>
    <div class="form-group">
        <label>Last Name (*)</label>
        <input type="text" class="form-control" name="lastName" id="lastName" placeholder="Last Name" value="{{employee.lastName}}">
    </div>
     <div class="form-group">
        <label>Hire Date (*)</label>
        <input type="date" class="form-control" name="hireDate" id="hireDate" placeholder="Hire Date" value="{{employee.hireDate}}">
    </div>
     <div class="form-group">
        <label>Role (choose any one - CEO|VP|MANAGER|LACKEY)</label>
        <input type="text" class="form-control" name="role" id="role" placeholder="Role" value="{{employee.role}}">
    </div>
     <div class="form-group">
        <label>Favorite Joke</label>
        <div>
            <span>
                <input type="text" class="form-control" name="favJoke" id="favJoke" placeholder="Favorite Joke" value="{{employee.favJoke}}">
            </span>
            <span>
                 <a class="float-right" style="color: blue" onclick="newJoke()">Click to get New Joke</a>
            </span>
        </div>
    </div>
     <div class="form-group">
        <label>Favorite Quote</label>
        <div>
            <span>
                <input type="text" class="form-control" name="favQuote" id="favQuote" placeholder="Favorite Quote" value="{{employee.favQuote}}">
            </span>
            <span>
                <a class="float-right" style="color: blue" onclick="newQod()">Click to get Quote of the Day</a>
            </span>
        </div>
    </div>
    <div>
        {{#each errors}}
            <li style="color: red"> {{this}} </li>
        {{/each}}
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary"><i class="fa fa-database"></i>&nbsp;&nbsp;Submit</button>
        
    </div>
</form>

<script>
    function newQod() {
        return fetch('https://quotes.rest/qod?language=en', {
            headers: { 'Accept': 'application/json' }
        })
        .then((response) => {
            return response.json();
        })
        .then((data) => {
            document.getElementById("favQuote").value = data["contents"]["quotes"][0]["quote"];
        });
    }

    function newJoke() {
        console.log("herer");
        return fetch('https://icanhazdadjoke.com', {
            headers: { 'Accept': 'application/json' }
        })
        .then((response) => {
            return response.json();
        })
        .then((data) => {
            console.log(data)
            document.getElementById("favJoke").value = data["joke"];
        });
    }
</script>